h3{
    margin : 10%;
}
body
{
    background-color: rgb(255, 155, 23);
}
#titre{
    margin: 17%;
}
div {
    background-color: lightgrey;
    width: 400px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}
#ins
{
    margin-right: 0%;
    background-color : rgb(252, 143, 0);
}
