body
{
    background-image: url("../images/Fond.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#titre{
    margin-left : auto;
}
div {
    text-align: center;
    display: block;
    margin: 10% auto;
    background-color: white;
    width: 25%;
    min-width: 155px;
    padding: 25px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
}
#ins
{
    margin-right: 0%;
    background-color : rgb(252, 143, 0);
}

p
{
    color: red;
}