@font-face{
    font-family: 'Helvetica';
    src : url("../police/HelveticaNeueLStd Lt.otf");
}

body
{
    font-family: "Helvetica";
    font-size: 120%;
    background-color: rgb(255, 255, 255);
    z-index: 0;
}


ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
    border-right: solid #bbb;
}
li:last-child {
    border-right: none;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-bottom: 0%;
}

li a:hover {
    background-color: rgb(216, 135, 14);
}

navbar
{
    opacity: 0,5;
    position: fixed;
    top: -20px;
    left : 0;
    right: 0;
    width: 100%;
}


panier
{
    width : 9%;
    margin-left : 0%;
}

nompan
{
    font-size: 120%;
    color: white;
}

article
{
    
    margin: 10% 40% 50% 50%;
    width: 16%;
    height: 40%;
    
}


description
{
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    margin: auto;
}
