<!DOCTYPE html>
<html>
<head>
    <meta charset="utf 8">
    <title>E-sep, ton commerce</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<header>
    C'est le header !
</header>
<navbar1>
        
</navbar1>
<navbar2>
    
</navbar2>
<body>
    <article>
        <image>
            <img src="images/article_1.jpg" width="100px" height="100px">
        </image>
        <Nom>
            Babyfoot du Futur
        </Nom>
        <carac>
            <li>
                <ul>Prix : 150€</ul>
                <ul>Dimensions : 150x200x120</ul>
            </li>
        </carac>
        <description>
            Il est super
        </description>
    </article>
</body>
</html>