<!DOCTYPE html>
<html>

<head>
    <meta charset="utf 8">
    <title>E-sep, ton commerce</title>
    <link rel="stylesheet" type="text/css" href="View/css/style.css">
</head>

<body>
    <header>
        <img id="couv" src="View/images/couv.jpg">
    </header>
    <navbar1>

    </navbar1>
    <article>
        <image>
            <img src="View/images/article_1.jpg" width="100px" height="100px">
        </image>
        <Nom>
            Babyfoot du Futur
        </Nom>
        <carac>
            <li>
                <ul>Prix : 1500€</ul>
                <ul>Dimensions : 150x200x120</ul>
            </li>
        </carac>
        <description>
            Il est super
        </description>
    </article>
</body>

</html>
