<!doctype html>
<html>
    <head>
        <meta charset="utf 8">
        <title>E-sep, ton commerce</title>
        <link rel="stylesheet" type="text/css" href="../css/Connexion.css" />
    </head>
<body>
     <h8 class="ins">S'inscrire</h8>
     <div>
        <h3 class="titre">Connexion</h3>
        <form action="connexion.php?page=login" method="post">
            <input class="nom" type="text" placeholder="Nom d'utilisateur">
            <br>
            <input type="password" placeholder="Mot de passe">
            <br>
            <input type="submit" value="Valider">
        </form>
    </div>
</body>

</html>